/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    
    .section-one-span span  {
        margin-top: -98px;
    }
    .section-one-h5 h5 {
        margin-top: -49px;
    }
    
        .send-btn {
        margin-top: 17px;
            margin-right: 91px;
        }
        
        .squre input{
            margin-left: -3%;
        }
    } 
    
    
    
    /*// Small devices (landscape phones, less than 768px)*/
    @media (max-width: 767.98px) { 
         .image-01 {
             margin-left: 0px;
        }
        .image-02{
            margin-top: 30px;
        }
        .image-03{
            margin-right: 30px;
            margin-top: 30px;
        }
        .image-04 {
             margin-left: 0px;
        }
        .image-06 {
             margin-right: 30px;
            margin-top: 30px;
        }
        .squre input {
        margin-left: -1%;
        }
        .send-btn {
        margin-right: 37.5%;
        margin-top: 16px;
        }
    }
        /*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    
    .section-one-span span hr {
        margin-top: -98px;
    }
    .section-one-h5 h5 {
        margin-top: -49px;
    }
    
        .send-btn {
        margin-top: 17px;
            margin-right: 91px;
        }
        
        .squre input{
            margin-left: -3%;
        }
    } 
    
    
    
    /*// Small devices (landscape phones, less than 768px)*/
    @media (max-width: 767.98px) { 
         .image-01 {
             margin-left: 0px;
        }
        .image-02{
            margin-top: 30px;
        }
        .image-03{
            margin-right: 30px;
            margin-top: 30px;
        }
        .image-04 {
             margin-left: 0px;
        }
        .image-06 {
             margin-right: 30px;
            margin-top: 30px;
        }
        .squre input {
        margin-left: -1%;
        }
        .send-btn {
        margin-right: 37.5%;
        margin-top: 16px;
        }
    }
        